body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.app-container {
  padding: 10px;
}

// 路由切换效果
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
} 
